@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cream-color: #FFF3E2;
  --coffee-color: #8F5E36;
  --coffee-opacity: 35, 12, 2;
  --cream-opacity: 255, 245, 233;
  --caramel-color: #9C6F44;
  --orange: #F89651;
  --dark-brown: #271300;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* NavBar */
.header-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-brown);
  z-index: 100;
}

.logo-nav {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.navbar-links a{
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  padding: 5px 15px 5px 15px;
}

.navbar-links a:hover {
  color: var(--orange);
  border-radius: 33px;
}

.navbar-links .active {
  color: var(--orange);
  border-radius: 33px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  font-size: 40px;
  color: white;
  cursor: pointer;
  display: none;
  right: 5%;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header-nav{
    padding: 1.3rem 5%;
  }

  .navbar-links{
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .icons{
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.3s ease;
    overflow: hidden;
    background-color: var(--dark-brown);
  }

  #check:checked~.navbar-links {
    height: 16rem;
  }

  .navbar-links a {
    display: block;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    padding: 0;
  }

  .navbar-links a:hover {
    color: var(--orange);
  }

  #check:checked~.navbar-links a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }
}

/* About */
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 615px;
  background: white;
  background-position: center;
  background-size: cover;
  color: var(--coffee-color);
}

.about-title {
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: black;
}

  .about-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: var(--coffee-color);
  }

.about-body {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  color: black;
}

.about-body .card-img-top {
  width: 100%;
  max-width: 500px;
}

.about-body .card-img-top img {
  width: 473px;
  height: 449px;
  margin: auto;
}

.about-text-section {
  display: flex;
  flex-direction: column;
}

.about-card-text {
  font-size: 26px;
  align-items: center;
  margin-bottom: 80px;
  text-align: justify;
}

/* BREAKPOINTS */
@media (max-width: 992px) {

  .about-body {
    flex-direction: column;
    gap: 0;
  }

  .about-title {
    font-size: 50px;
  }

  .about-container {
    height: auto;
    background-size: contain;
  }

  .about-body .card-img-top img {
    width: 265px;
    height: 282px;
  }

  .about-text-section {
    gap: 0;
    margin-top: 0;
    text-align: center;
  }
}

  /* Visit Us */
.visit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 768px;
  background: var(--dark-brown);
  background-position: center;
  background-size: cover;
  color: white;
}

.visit-card {
  justify-content: center;
}

.visit-container i {
  font-size: 32px;
  margin-right: 5px;
}

.visit-title {
  text-align: center;
  font-size: 85px;
  margin-top: 30px;
  margin: 0;
  padding: 0;
}

.visit-title p {
  margin: 0;
  padding: 0;
}

.visit-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  color: var(--cream-color);
}

.visit-body {
display: flex;
gap: 3rem;
margin: 50px;
}

.card-img-top {
width: 100%;
max-width: 700px;
}

.card-img-top iframe {
width: 700px;
height: 500px;
}

.visit-text-section {
display: flex;
flex-direction: column;
}

.visit-card-title {
  font-size: 38px;
}

.visit-card-text {
font-size: 24px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .visit-body {
    flex-direction: column-reverse;
    margin: 0;
  }

  .visit-container {
    height: auto;
    background-size: contain;
  }

  .visit-title {
    font-size: 60px;
  }

  .visit-card iframe {
    margin-top: 20px;
    width: 450px;
    height: 400px;
  }

  .visit-text-section {
    gap: 0;
    margin-top: 0;
    text-align: center;
  }
}

/* Footer */
footer {
  background: white;
  background-position: bottom;
  background-size: cover;
  color: var(--coffee-color);
}

.footer-container {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  margin-top: 15px;
  width: 33.3%;
  align-items: center;
}

.footer-content p {
  width: 350px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
  margin: auto;
}

.footer-logo {
  font-size: 25px;
  color: var(--dark-brown);
}

.social-icons li {
  display: inline-block;
  text-align: center;
}

.social-icons i {
  color: var(--coffee-color);
  font-size: 25px;
}

.social-icons i:hover{
  color: var(--orange);
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .footer-content .copyright {
    width: 150px;
  }
}