@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Yanone+Kaffeesatz&display=swap');

:root {
    --cream-color: #FFF3E2;
    --coffee-color: #8F5E36;
    --coffee-opacity: 35, 12, 2;
    --cream-opacity: 255, 245, 233;
    --caramel-color: #9C6F44;
    --dark-color: #271300;
}

* {
    background-color: var(--cream-color);
    /* font-family: 'Montserrat', sans-serif; */
}

h2 {
    margin-top: 25px;
    font-family: 'Fanwood Text', serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: var(--dark-color);
}

.welcome-message {
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    font-weight: 700;
    text-align: justify;
    color: var(--coffee-color);
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--dark-color);
    
}

::placeholder {
    color: rgba(var(--cream-opacity), 0.7);
    background-color: var(--coffee-color);
  }

input[type=text], input[type=email] {
    width: 410px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: -15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    background-color: var(--coffee-color);
    color: var(--cream-color);
}

textarea {
    width: 410px;
    height: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: -15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background-color: var(--coffee-color);
    color: var(--cream-color);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    background-color: var(--coffee-color);
    color: var(--cream-color);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    
}
