@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --cream-color: #FFF3E2;
    --coffee-color: #8F5E36;
    --caramel-color: #9C6F44;
    --dark-color: #271300;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Ensure the sidebar has a full viewport height */
    width: 230px;
    background-color: var(--coffee-color);
    color: var(--cream-color);
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    font-size: 18px;
    display: block;
    color: var(--cream-color);
    text-decoration: none;
    padding: 10px;
}

.sidebar ul li a:hover {
    color: var(--caramel-color);
    background-color: var(--cream-color);
}

.homeBtn {
    position: relative;
    margin-top: 340px; /* Pushes the home button to the bottom */
}

.homeBtn button {
    background-color: var(--cream-color);
    border: none;
    border-radius: 10px;
    color: var(--dark-color);
    padding: 12px 16px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
} 
/* Main Content Area Styles */
.container {
    margin-left: 270px; 
    padding: 20px;
    background-color: var(--cream-color);
    min-height: 100vh; 
    overflow-y: auto; 
    overflow-x: auto;
}

.container h2 {
    font-size: 30px;
    color: var(--dark-color);
}

/* Table Styles */
.table {
    width: 100%;
    margin-bottom: 20px;
    table-layout: fixed; /* Use fixed layout */
}

.table thead th {
    background-color: var(--coffee-color);
    color: var(--cream-color);
}

.table tbody tr:hover {
    background-color: var(--cream-color);
}

.table tr td, .table tr th {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.table img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover; /* Ensures images maintain aspect ratio */
}

/* Button Styles */
.btn {
    height: 45px;
    width: 160px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--dark-color);
}

.btn-update {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #6495ED;
}

.btn-delete {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ff6347;
}

.btn a {
    font-size: 15px;
    font-weight: 400;
    color: var(--cream-color);
    text-decoration: none;
}

/* Responsive Design */
.table-container {
    overflow-x: auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--cream-color);
    background-color: var(--dark-color);
}

.pagination a.current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination a:hover {
    background-color: var(--cream-color);
    color: var(--dark-color);
}

.pagination .ellipsis {
    padding: 0 5px;
    color: #333;
}