@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Argent');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --cream-color: #FFF3E2;
  --coffee-color: #8F5E36;
  --coffee-opacity: 35, 12, 2;
  --cream-opacity: 255, 245, 233;
  --caramel-color: #9C6F44;
}

* {
  box-sizing: border-box;
  font-family: 'Fanwood Text', serif;
}

body{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../images/Coffee-Background.png");
  background-position: center;
  background-size: cover;
}

form {  
  display: flex;
  justify-content: center;
  width: 550px;
  height: 330px;
    color: var(--coffee-color);
    background-color: var(--cream-color);
    border-radius: 30px;
    margin-top: 23vh;
  }

  form .forgot-header{
    font-size: 40px;
    margin: 0;
  }
  
  input[type=email] {
    width: 380px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background-color: var(--coffee-color);
    color: var(--cream-color);
  }

  label {
    font-size: 25px;
  }

  ::placeholder {
    color: rgba(var(--cream-opacity), 0.7);
  }
  
  button {
    background-color: var(--caramel-color);
    color: var(--cream-color);
    font-size: 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 322px;
    height: 50px;
    margin-top: 40px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .forgot-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
  }

  .forgot-container .forgot-header {
    margin-bottom: 20px;
  }

  .forgot-container label{
    align-self: flex-start;
    margin-bottom: -12px;
  }
  
  @media screen and (max-width: 600px) {
    form {
      width: 100%;
    }

  }