@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Argent');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --cream-color: #FFF3E2;
  --coffee-color: #8F5E36;
  --coffee-opacity: 35, 12, 2;
  --cream-opacity: 255, 245, 233;
  --caramel-color: #9C6F44;
  --orange: #F89651;
  --dark-brown: #271300;
}

* {
  box-sizing: border-box;
  font-family: 'Fanwood Text', serif;
  margin: 0;
  padding: 0;
}

/* NavBar */
.header-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffcff;
  z-index: 100;
}

.logo-nav {
  font-size: 30px;
  color: var(--coffee-color);
  text-decoration: none;
}

.navbar-links a{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-brown);
  text-decoration: none;
  margin: 0.5rem;
  padding: 5px 15px 5px 15px;
}

.navbar-links a:hover {
  color: var(--orange);
  border-radius: 33px;
}

.navbar-links .active {
  color: var(--orange);
  border-radius: 33px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  font-size: 40px;
  color: var(--dark-brown);
  cursor: pointer;
  display: none;
  right: 5%;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header-nav{
    padding: 1.3rem 5%;
  }

  .navbar-links{
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .icons{
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.3s ease;
    overflow: hidden;
    background-color: #fffcff;
  }

  #check:checked~.navbar-links {
    height: 16rem;
  }

  .navbar-links a {
    display: block;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    padding: 0;
  }

  .navbar-links a:hover {
    color: var(--orange);
  }

  #check:checked~.navbar-links a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }
}

/* Welcome to cafe siena */
.welcome-container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--coffee-color);
}

.welcome-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.welcome-message {
  margin: 100px;
}

.welcome-message h1{
  font-size: 100px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.welcome-message h3 {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.welcome-message h5 {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 30px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.view-menu {
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  width: 174px;
  height: 50px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-bottom: 35px;
  background-color: var(--coffee-color);
  color: var(--cream-color);
  border: none;
  font-size: 20px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .welcome-container {   
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
  }

  .welcome-message {
    font-size: 50px;
    text-align: center;
  }

  .welcome-message h1 {
    font-size: 60px;
  }

  .welcome-message h3 {
    font-size: 40px;
  }

  .welcome-message h5 {
    font-size: 30px
  }

  .view-menu {
    margin-right: 0;
    align-self: center;
  }
}



/* Popular Menu */
.popular-menu-container {
  width: 100%;
  height: auto;
  background: var(--coffee-color);
  background-position: center;
  background-size: cover;
  color: var(--cream-color);
  padding: 50px;
}

.popular-title {
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
}

.popular-menu-itemlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.popular-items {
  display: flex;
  justify-content: center;
  width: 32%;
}

.card-menu {
  width: 360px;
  height: 150px;
  flex-direction: row;
  border-radius: 166px;
  border: none;
  background-color: var(--cream-color);
  color: var(--coffee-color);
  padding: 15px;
  justify-content: center;
}

.card-menu img {
  width: 109px;
  height: 100px;
  margin: auto;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.text-section {
  margin-left: 10px;
  margin-right: 0px;
  width: 207px;
}

.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 14px;
}

#price {
  margin-top: -15px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {

  .popular-menu-container {
    background-size: contain;
  }

  .popular-title {
    font-size: 50px;
  }

  .popular-menu-itemlist {
    flex-direction: column;
  }

  .see-more {
    display: flex;
    justify-self: center;
    margin-top: 40px;
    margin-right: 290px;
    text-align: center;
  }
}

/* About */
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 615px;
  background: var(--dark-brown);
  background-position: center;
  background-size: cover;
  color: var(--coffee-color);

}

.about-title {
  text-align: center;
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: var(--cream-color);
}

  .about-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: var(--coffee-color);
  }

.about-body {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  color: var(--cream-color);
  margin-left:10px;

}

.card-img-top {
  width: 100%;
  max-width: 500px;
}

.card-img-top img {
  width: 473px;
  height: 449px;
  margin-right:10px;
}

.about-text-section {
  display: flex;
  flex-direction: column;
  margin-right: -50px;
  font-family: 'Montserrat', sans-serif;
}

.about-card-text {
  font-size: 26px;
  align-items: center;
  margin-bottom: 80px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.know-more {
  width: 170px;
  height: 40px;
  background-color: var(--cream-color);
  color: var(--dark-brown);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 25px;
  align-self: flex-end;
  padding: 0;
  font-weight: bold;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}

/* BREAKPOINTS */
@media (max-width: 992px) {

  .about-body {
    flex-direction: column-reverse;
  }

  .about-title {
    font-size: 50px;
  }

  .about-container {
    height: auto;
    background-size: contain;
  }

  .about-card img {
    margin-top: 20px;
    width: 265px;
    height: 282px;
  }

  .card-img-top img {
    margin-right:0;
  }

  .about-text-section {
    gap: 0;
    margin-top: 0;
    text-align: center;
    margin-right: 0;
  }

  .about-body {
    padding: 5px;
  }

  .know-more {
    align-self: center;
    margin-right: 0px;
}

.about-card-text {
  font-size: 18px;
}
}

/* Image Carousel */

.row {
  background-color: white;
  color: var(--dark-brown);
}

.carousel-item {
  width: 100%;
  height: 600px; /* Default height for larger screens */
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .carousel-item {
    height: 200px; /* Adjust the height for smaller screens */
  }
}

#carouselFade{
  width: 100%;
}


/* BREAKPOINTS */
/*
@media (max-width: 992px) {
  .d-block {
    height: 100%;
    width: 100%;
  }

}

*/


/* Footer */
footer {
  background: white;
  background-position: bottom;
  background-size: cover;
  color: var(--coffee-color);
}

.footer-container {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  margin-top: 15px;
  width: 33.3%;
  align-items: center;
}

.footer-content p {
  width: 350px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
  margin: auto;
}

.footer-logo {
  font-size: 25px;
  color: var(--dark-brown);
  font-family: 'Fanwood Text', serif;
}

.social-icons li {
  display: inline-block;
  text-align: center;
}

.social-icons i {
  color: var(--coffee-color);
  font-size: 25px;
}

.social-icons i:hover{
  color: var(--orange);
}




/* BREAKPOINTS */
@media (max-width: 992px) {
  .footer-content .copyright {
    width: 150px;
  }
}



.titleProduct,
.descProduct,
.welcome-message h3,
.welcome-message h5,
.navbar-links a,
.about-title,
.about-card-text,
.know-more,
.footer-content .copyright {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
 }
 
 main {
  flex: 1 0 auto;
 }