@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Yanone+Kaffeesatz&display=swap');

:root {
  --cream-color: #FFF5E9;
  --coffee-color: #230C02;
  --coffee-opacity: 35, 12, 2;
  --cream-opacity: 255, 245, 233;
  --caramel-color: #9C6F44;
}

* {
  box-sizing: border-box;
  font-family: 'Fanwood Text', serif;
  margin: 0;
  padding: 0;
}

/* NavBar */
.header-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cream-color);
  z-index: 100;
}

.logo-nav {
  font-size: 30px;
  color: var(--coffee-color);
  text-decoration: none;
}

.navbar-links{
  margin-left: -100px;
}

.navbar-links a{
  font-size: 25px;
  color: var(--coffee-color);
  text-decoration: none;
  margin: 0.5rem;
  padding: 5px 15px 5px 15px;
}

.navbar-links a:hover {
  background-color: var(--coffee-color);
  color: var(--cream-color);
  border-radius: 33px;
}

.navbar-links .active {
  background-color: var(--coffee-color);
  color: var(--cream-color);
  border-radius: 33px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  font-size: 40px;
  color: var(--coffee-color);
  cursor: pointer;
  display: none;
  right: 5%;
}

#user-icon {
  display: flex;
  font-size: 40px;
  color: var(--coffee-color);
  cursor: pointer;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header-nav{
    padding: 1.3rem 5%;
  }

  .navbar-links{
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .icons{
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.3s ease;
    overflow: hidden;
    background-color: var(--cream-color);
  }

  #check:checked~.navbar-links {
    height: 13.7rem;
  }

  .navbar-links a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    padding: 0;
  }

  .navbar-links a:hover {
    background-color: var(--coffee-color);
    color: var(--cream-color);
  }

  #check:checked~.navbar-links a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }

  #user-icon {
    margin-right: 70px;
  }
}

/* Welcome to cafe siena */
.welcome-container {
  width: 100%;
  height: 768px;
  background: url("../images/Home-Cream-Background.png");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--coffee-color);
}

.welcome-message {
  font-size: 85px;
  text-align: center;
}

.welcome-toolbar {
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  margin-right: 25px;
}

.view-menu {
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  width: 174px;
  height: 50px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-bottom: 35px;
  background-color: var(--coffee-color);
  color: var(--cream-color);
  border: none;
  font-size: 20px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .welcome-container {
    background-size: contain;
  }

  .welcome-message {
    font-size: 50px;
  }

  .view-menu {
    margin-right: 0;
    align-self: center;
  }
}

/* Image Carousel */
.d-block {
  width: 100%;
  height: 600px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .d-block {
    height: 400px;
  }
}

/* Popular Menu */
.popular-menu-container {
  width: 100%;
  height: 768px;
  background: url("../images/Popular-Menu-Background.png");
  background-position: center;
  background-size: cover;
  color: var(--cream-color);
}

.popular-title {
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
}

.popular-menu-itemlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.popular-items {
  display: flex;
  justify-content: center;
  width: 32%;
}

.card-menu {
  width: 360px;
  height: 150px;
  flex-direction: row;
  border-radius: 166px;
  border: none;
  background-color: var(--caramel-color);
  color: var(--cream-color);
  padding: 15px;
  justify-content: center;
}

.card-menu img {
  width: 109px;
  height: 100px;
  margin: auto;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.text-section {
  margin-left: 10px;
  margin-right: 0px;
  width: 207px;
}

.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 14px;
}

#price {
  margin-top: -15px;
}

.cta-section {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-self: flex-end;
  color: var(--coffee-color);
  margin-right: 15px;
  gap: 10px;
}

.see-more {
  cursor: pointer;
  display: flex;
  width: 158px;
  height: 50px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  background-color: var(--caramel-color);
  color: var(--cream-color);
  border: none;
  font-size: 20px;
  justify-content: center;
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {

  .popular-menu-container {
    height: 1380px;
    background-size: contain;
  }

  .popular-title {
    font-size: 50px;
  }

  .popular-menu-itemlist {
    flex-direction: column;
  }

  .see-more {
    display: flex;
    justify-self: center;
    margin-top: 40px;
    margin-right: 160px;
    text-align: center;
  }
}

/* About */
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 768px;
  background: url("../images/CafeLogo-Background.png");
  background-position: center;
  background-size: cover;
  color: var(--coffee-color);
}

.about-title {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 30px;
}

.about-toolbar {
  margin-top: -110px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  font-size: 40px;
  cursor: pointer;
  justify-content: flex-end;
  }

  .about-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: var(--coffee-color);
  }

.about-body {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.card-img-top {
  width: 100%;
  max-width: 500px;
}

.card-img-top img {
  width: 473px;
  height: 449px;
}

.about-text-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-card-text {
  font-size: 26px;
  align-items: center;
}

.know-more {
  width: 174px;
  height: 50px;
  background-color: var(--coffee-color);
  color: var(--cream-color);
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 20px;
  align-self: flex-end;
  margin-right: 50px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .about-body {
    flex-direction: column;
  }

  .about-container {
    height: auto;
    background-size: contain;
  }

  .about-card img {
    margin-top: 20px;
    width: 373px;
    height: 349px;
  }

  .about-text-section {
    gap: 0;
    margin-top: 0;
    text-align: center;
  }

  .know-more {
    align-self: center;
    margin-right: 0px;
}

.about-toolbar {
  margin-top: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  font-size: 40px;
  cursor: pointer;
  justify-content: center;
  }
}

/* Footer */
footer {
  background: url("../images/Footer-Background.png");
  background-position: bottom;
  background-size: cover;
  color: var(--cream-color);
}

.footer-container {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.footer-content {
  margin-top: 25px;
  width: 33.3%;
  align-items: center;
}

.footer-content p {
  width: 200px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
  margin: auto;
}

.footer-logo {
  font-size: 25px;
}

.list li {
  width: auto;
  text-align: center;
  list-style: none;
  padding: 7px;
  position: relative;
  display: inline-block;
}

.list a:hover {
  color: var(--cream-color);
}

.list li::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: var(--cream-color);
  transition-duration: .5%;
}

.list a {
  text-decoration: none;
  color: var(--cream-color);
}

.list li:hover::before {
  width: 100%;
}

.social-icons li {
  display: inline-block;
  text-align: center;
}

.social-icons i {
  color: var(--caramel-color);
  font-size: 25px;
}

.social-icons i:hover{
  color: var(--cream-color);
}

.bottom-bar {
  text-align: center;
  padding: 10px 0;
}

.bottom-bar p {
  width: 100%;
  margin: 0;
  font-size: 16px;
}