@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root {
  --cream-color: #FFF5E9;
  --coffee-color: #230C02;
  --coffee-opacity: 35, 12, 2;
  --cream-opacity: 255, 245, 233;
  --caramel-color: #9C6F44;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  width: auto;
  height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/AccountBG.png");
    background-position: center;
    background-size: cover;
}

form {  
  display: flex;
  justify-content: center;
  width: 550px;
  height:520px;
    color: #272300;
    border-radius: 30px;
    margin-top: 27vh;
    position: relative;
    left: 25%;
  }

  form .change-header{
    font-size: 40px;
    margin: 0;
  }
  
  input[type=password] {
    width: 380px;
    height: 50px;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 10px;
    color: var(--coffee-color);
  }

  label {
    font-size: 25px;
  }

  ::placeholder {
    color: rgba(var(--coffee-opacity), 0.7);
  }
  
  button {
    background-color: var(--cream-color);
    color: #272300;
    font-size: 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    margin-top: 20px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .change-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
  }

  .change-container .change-header {
    margin-bottom: 20px;
  }

  .change-container label{
    align-self: flex-start;
    margin-bottom: -12px;
  }
  
  @media screen and (max-width: 600px) {
    form {
      width: 100%;
      margin-top: 10;
    }

  }