@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --cream-color: #FFF3E2;
    --coffee-color: #8F5E36;
    --caramel-color: #9C6F44;
    --dark-color: #271300;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/* Main Content Area Styles */
.container {
    padding: 20px;
    background-color: var(--cream-color);
    min-height: 100vh;
    overflow-y: auto;
}

.container h2 {
    font-size: 30px;
    color: var(--dark-color);
}

/* Table Styles */
.table {
    width: 100%;
    margin-bottom: 20px;
}

.table thead th {
    background-color: var(--coffee-color);
    color: var(--cream-color);
}

.table tbody tr:hover {
    background-color: var(--cream-color);
}

/* Button Styles */
.back {
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--dark-color);
    text-align: center;
    line-height: 45px;
}

.back a {
    font-size: 18px;
    font-weight: 400;
    color: var(--cream-color);
    text-decoration: none;
    display: block;
    height: 100%;
}

.btn-change {
    height: 45px;
    width: 200px;
    color: var(--cream-color);
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--dark-color);
    text-align: center;
    line-height: 45px;
}

/* Additional Spacing */
.table tr td, .table tr th {
    padding: 10px;
   
}

