@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --cream-color: #FFF3E2;
    --coffee-color: #8F5E36;
    --caramel-color: #9C6F44;
    --dark-color: #271300;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--cream-color);
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Main Content Area Styles */
.container {
    height: 700px;
    width: 800px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--coffee-color);
    overflow-y: auto;
}

.container h2 {
    font-size: 40px;
    color: var(--cream-color);
    text-align: center;
    margin-top: -10px;
}

.container h3 {
    font-size: 25px;
    color: var(--cream-color);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

label {
    font-size: 18px;
    font-weight: 700;
    color: var(--cream-color);
    margin-top: -20px;
}

input {
    height: 30px;
    width: 350px;
    font-size: 18px;
    background-color: var(--dark-color);
    color: var(--cream-color);
    border-radius: 10px;
    border: none;
    padding: 5px;
}

textarea {
    height: 300px;
    width: 775px;
    font-size: 18px;
    background-color: var(--dark-color);
    color: var(--cream-color);
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: -20px;
}

.group1, .group2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

/* Table Styles */
.table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -30px;
}

.table thead th {
    background-color: var(--coffee-color);
    color: var(--cream-color);
}

/* Button Styles */
.back {
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--dark-color);
    text-align: center;
    line-height: 45px;
}

.back a {
    font-size: 18px;
    font-weight: 400;
    color: var(--cream-color);
    text-decoration: none;
    display: block;
    height: 100%;
}

/* Additional Spacing */
.table tr td, .table tr th {
    padding: 10px;
    color: var(--cream-color);
}

.table tr td:first-child, .table tr th:first-child {
    font-size: 18px;
    font-weight: 700;
}

.table tr td:last-child, .table tr th:last-child {
    text-align: center;
}